// Spacing and Layout Scales

.spacing-box-1 {
  width           : $spacing-1;
  height          : $spacing-1;
  background-color: blue;
  display         : block;
}

.spacing-box-2 {
  width           : $spacing-2;
  height          : $spacing-2;
  background-color: blue;
  display         : block;
}

.spacing-box-3 {
  width           : $spacing-3;
  height          : $spacing-3;
  background-color: blue;
  display         : block;
}

.spacing-box-4 {
  width           : $spacing-4;
  height          : $spacing-4;
  background-color: blue;
  display         : block;
}

.spacing-box-5 {
  width           : $spacing-5;
  height          : $spacing-5;
  background-color: blue;
  display         : block;
}

.spacing-box-6 {
  width           : $spacing-6;
  height          : $spacing-6;
  background-color: blue;
  display         : block;
}

.spacing-box-7 {
  width           : $spacing-7;
  height          : $spacing-7;
  background-color: blue;
  display         : block;
}

.spacing-box-8 {
  width           : $spacing-8;
  height          : $spacing-8;
  background-color: blue;
  display         : block;
}

.spacing-box-9 {
  width           : $spacing-9;
  height          : $spacing-9;
  background-color: blue;
  display         : block;
}

.layout-box-1 {
  width           : $layout-1;
  height          : $layout-1;
  background-color: blue;
  display         : block;
}

.layout-box-2 {
  width           : $layout-2;
  height          : $layout-2;
  background-color: blue;
  display         : block;
}

.layout-box-3 {
  width           : $layout-3;
  height          : $layout-3;
  background-color: blue;
  display         : block;
}

.layout-box-4 {
  width           : $layout-4;
  height          : $layout-4;
  background-color: blue;
  display         : block;
}

.layout-box-5 {
  width           : $layout-5;
  height          : $layout-5;
  background-color: blue;
  display         : block;
}

.layout-box-6 {
  width           : $layout-6;
  height          : $layout-6;
  background-color: blue;
  display         : block;
}

.layout-box-7 {
  width           : $layout-7;
  height          : $layout-7;
  background-color: blue;
  display         : block;
}
