/***************** Blog Recent ******************/
.home .blog-recent .col .post-header {
	color: #999;
	font-size: 11px;
	margin-bottom: 12px;
}

.home .blog-recent .col .post-header h3 a {
	color: #27CFC3;
}

.blog-recent .mejs-container {
	margin-bottom: 15px;
}

.home .blog-recent .col .post-header h3 {
	margin-bottom: 3px;
}

.blog-recent[data-style="default"] .col .post-header h3 {
	margin-bottom: 3px;
	letter-spacing: -0.2px;
	font-size: 16px;
	line-height: 23px;
}

.blog-recent .col .post-header a,
.blog-recent .col .post-header h3 a:hover {
	color: inherit!important;
}

.home .blog-recent .col .post-header a:hover {
	color: #27CFC3;
}

.blog-recent .col {
	margin-bottom: 40px;
}

.blog-recent .col .video-wrap {
	position: relative;
	padding-bottom: 54.25%;
	padding-top: 5px;
	height: 0;
	margin-bottom: 15px;
}

.blog-recent .col .video-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blog-recent div:last-of-type {
	margin-right: 0;
}

.blog-recent.columns-4 div:nth-child(4n+4) {
	margin-right: 0!important;
}

.blog-recent.columns-3 div:nth-child(3n+3) {
	margin-right: 0!important;
}

.blog-recent.columns-2 div:nth-child(2n+2) {
	margin-right: 0!important;
}

.blog-recent.columns-1 div:nth-child(1n+1) {
	margin-right: 0!important;
}

.blog-recent.columns-4 div:nth-child(4n+5) {
	clear: both;
}

.blog-recent.columns-3 div:nth-child(3n+4) {
	clear: both;
}

.blog-recent.columns-2 div:nth-child(2n+3) {
	clear: both;
}

.video-wrap iframe {
	opacity: 0;
	visibility: hidden;
}

.blog-recent .col .audio-wrap {
	margin-bottom: 15px;
}

.blog-recent[data-style="minimal"] .col {
	margin-bottom: 2%;
	padding: 20px;
}

.blog-recent[data-style="minimal"] .meta {
	margin-bottom: 13px;
	display: block;
}

.blog-recent[data-style="title_only"] .meta {
	margin-bottom: 6px;
	display: block;
}

.blog-recent[data-style="minimal"] .col > a,
.blog-recent[data-style="title_only"] .col > a {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.blog-recent[data-style="minimal"] .col a {
	color: inherit!important;
}

.blog-recent[data-style="minimal"] .col > span {
	color: #27CFC3;
	display: block;
}

.blog-recent[data-style="minimal"] .col i {
	background-color: transparent!important;
	color: inherit;
	height: auto;
	font-size: 15px;
	width: 23px;
	top: 0;
	transition: transform 0.33s cubic-bezier(.75,0,.18,1);
	-webkit-transition: transform 0.33s cubic-bezier(.75,0,.18,1);
}

.blog-recent[data-style="minimal"] .col:hover i {
	transform: translateX(7px);
	-webkit-transform: translateX(7px);
}

.blog-recent[data-style="minimal"] .col > span {
	font-family: 'Open Sans';
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
}

.blog-recent[data-style="title_only"] .col {
	background-color: rgba(0,0,0,0.03);
	margin-bottom: 2%;
	padding: 50px 25px;
}

.blog-recent[data-style="title_only"] {
	text-align: center;
}

.blog-recent[data-style="title_only"] .post-header {
	width: 70%;
	left: 15%;
	margin-bottom: 0;
	word-break: break-word;
	position: relative;
}

.blog-recent[data-style="title_only"] .post-header .title,
.blog-recent[data-style="title_only"] .col .post-header .meta {
	transition: transform 0.33s cubic-bezier(.75,0,.18,1),opacity 0.33s cubic-bezier(.75,0,.18,1),color 0.33s cubic-bezier(.75,0,.18,1);
	-webkit-transition: transform 0.33s cubic-bezier(.75,0,.18,1),opacity 0.33s cubic-bezier(.75,0,.18,1),color 0.33s cubic-bezier(.75,0,.18,1);
}

.blog-recent[data-style="title_only"] .col:hover .post-header .title {
	transform: scale(1.1) translateY(-10px);
	-webkit-transform: scale(1.1) translateY(-10px);
	color: #27CFC3;
}

.blog-recent[data-style="title_only"] .col:hover .post-header .meta {
	transform: translateY(20px);
	-webkit-transform: translateY(20px);
	opacity: 0;
}

.span_9 .carousel-heading {
	padding-right: 10px;
}

.republicpg-recent-posts-slider {
	overflow: hidden;
}

.republicpg-recent-posts-slider .republicpg-recent-post-slide {
	width: 101%;
	position: relative;
	line-height: 0;
	min-height: 250px;
	overflow: hidden;
}

.republicpg-recent-posts-slider .republicpg-recent-posts-slider-inner:not(.flickity-enabled) .republicpg-recent-post-slide {
	position: absolute;
	opacity: 0;
}

.republicpg-recent-posts-slider .republicpg-recent-posts-slider-inner:not(.flickity-enabled) > .republicpg-recent-post-slide:first-child {
	position: relative;
	opacity: 1;
}

.republicpg-recent-posts-slider .republicpg-recent-posts-slider-inner:not(.flickity-enabled) .inner-wrap {
	position: relative;
	-webkit-transform: none;
	transform: none;
}

.republicpg-recent-posts-slider .republicpg-recent-posts-slider-inner:not(.flickity-enabled) .recent-post-container {
	padding-bottom: 100px;
	padding-top: 100px;
}

.republicpg-recent-posts-slider .flickity-enabled.is-draggable .flickity-viewport {
	overflow: hidden;
}

.republicpg-recent-post-slide .republicpg-recent-post-bg,
.republicpg-recent-posts-slider_multiple_visible .republicpg-recent-post-slide .republicpg-recent-post-bg-blur,
.republicpg-recent-posts-slider_multiple_visible .republicpg-recent-post-slide .republicpg-recent-post-bg-wrap {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-color: #222;
}

.republicpg-recent-post-slide .row-bg {
	background-color: #222;
}

.republicpg-recent-post-slide .republicpg-recent-post-bg:after,
.single [data-post-hs="default_minimal"] .page-header-bg-image:after,
.archive .page-header-bg-image:after {
	background-color: rgba(45,45,45,0.35);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	content: ' ';
	z-index: 1;
	display: block;
}

.republicpg-recent-posts-single_featured .republicpg-recent-post-slide .republicpg-recent-post-bg:after {
	background-color: rgba(2,2,2,0.43);
}

.republicpg-recent-posts-single_featured.multiple_featured .republicpg-recent-post-slide .row-bg {
	z-index: 0;
}

.republicpg-recent-posts-single_featured[data-bg-overlay="diagonal_gradient"] .republicpg-recent-post-slide .republicpg-recent-post-bg:after {
	background-color: transparent;
}

.republicpg-recent-posts-single_featured[data-bg-overlay="diagonal_gradient"] .republicpg-recent-post-slide:after {
	background: linear-gradient(to right top, rgba(10,10,10,0.9), transparent);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	z-index: 1;
}

.republicpg-recent-posts-slider .container .strong {
	font-size: 12px!important;
	font-family: 'Open Sans';
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 15px;
	color: #fff;
	position: relative;
	display: block;
	line-height: 12px;
}

.republicpg-recent-posts-slider .container .strong a {
	color: #fff;
	margin-left: 15px;
}

.republicpg-recent-posts-slider .container .strong a:hover span:before {
	width: 100%;
	height: 20px;
	top: -4px;
}

.republicpg-recent-posts-slider .container .strong a:first-child {
	margin-left: 0;
}

.republicpg-recent-posts-slider .container .strong span {
	display: inline-block!important;
	position: relative;
	padding-left: 13px;
	padding-right: 10px;
	z-index: 10;
}

.flickity-viewport.is-moving a {
	pointer-events: none;
}

.republicpg-recent-posts-slider .container .strong span:before {
	display: block;
	content: ' ';
	height: 11px;
	margin-right: 4px;
	position: absolute;
	left: 0;
	top: 0;
	width: 3px;
	transition: all 0.3s cubic-bezier(.175,.885,.32,1.1);
	-webkit-transition: all 0.3s cubic-bezier(.175,.885,.32,1.1);
	z-index: -1;
}

.republicpg-recent-post-content {
	position: absolute;
	color: #fff;
	z-index: 20;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.wpb_row:not(.full-width-content) .wpb_column:not(.vc_col-sm-12) .republicpg-recent-posts-slider .container {
	padding: 0!important !important;
}

.wpb_row:not(.full-width-content) .wpb_column:not(.vc_col-sm-12) .republicpg-recent-posts-slider .inner-wrap {
	max-width: none!important;
	padding: 10px 15%!important !important;
	left: 0;
}

.wpb_row:not(.full-width-content) .wpb_column:not(.vc_col-sm-12) .republicpg-recent-posts-slider .flickity-page-dots {
	padding: 0 15%!important !important;
}

.republicpg-recent-posts-slider .container {
	height: 100%;
	pointer-events: none;
}

.republicpg-recent-posts-slider .inner-wrap {
	top: 50%;
	position: absolute;
	left: auto;
	max-width: 50%;
	width: auto;
	pointer-events: all;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: all 0.3s linear;
	display: inline-block;
	z-index: 100;
}

.republicpg-recent-posts-slider .flickity-page-dots {
	text-align: left;
}

.republicpg-recent-posts-slider h2 a,
.republicpg-recent-posts-slider_multiple_visible h3 a {
	transition: color 0.16s ease;
	-webkit-transition: color 0.16s ease;
}

.republicpg-recent-posts-slider h2 a:hover {
	color: rgba(255,255,255,0.8)!important;
}

.republicpg-recent-posts-single_featured {
	overflow: hidden;
	position: relative;
}

.republicpg-recent-posts-single_featured .republicpg-recent-post-slide {
	position: relative;
	overflow: hidden;
}

.republicpg-recent-posts-single_featured.multiple_featured .republicpg-recent-post-slide {
	transition: opacity 0.3s ease;
	opacity: 0;
}

.republicpg-recent-posts-single_featured.multiple_featured .republicpg-recent-post-slide.active {
	opacity: 1;
}

.republicpg-recent-posts-single_featured.multiple_featured.js-loaded .republicpg-recent-post-slide:not(.tallest),
.republicpg-recent-posts-single_featured.multiple_featured:not(.js-loaded) .republicpg-recent-post-slide:not(:first-child) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.republicpg-recent-posts-single_featured .recent-post-container {
	z-index: 10;
	position: relative;
}

.republicpg-recent-posts-single_featured[data-padding="20%"] .recent-post-container,
#boxed .republicpg-recent-posts-single_featured[data-padding="20%"] .recent-post-container {
	padding-top: 20%;
	padding-bottom: 20%;
}

.republicpg-recent-posts-single_featured[data-padding="18%"] .recent-post-container,
#boxed .republicpg-recent-posts-single_featured[data-padding="18%"] .recent-post-container {
	padding-top: 18%;
	padding-bottom: 18%;
}

.republicpg-recent-posts-single_featured[data-padding="16%"] .recent-post-container,
#boxed .republicpg-recent-posts-single_featured[data-padding="16%"] .recent-post-container {
	padding-top: 16%;
	padding-bottom: 16%;
}

.republicpg-recent-posts-single_featured[data-padding="14%"] .recent-post-container,
#boxed .republicpg-recent-posts-single_featured[data-padding="14%"] .recent-post-container {
	padding-top: 14%;
	padding-bottom: 14%;
}

.republicpg-recent-posts-single_featured[data-padding="12%"] .recent-post-container,
#boxed .republicpg-recent-posts-single_featured[data-padding="12%"] .recent-post-container {
	padding-top: 12%;
	padding-bottom: 12%;
}

.republicpg-recent-posts-single_featured[data-padding="10%"] .recent-post-container,
#boxed .republicpg-recent-posts-single_featured[data-padding="10%"] .recent-post-container {
	padding-top: 10%;
	padding-bottom: 10%;
}

.republicpg-recent-posts-single_featured[data-padding="8%"] .recent-post-container,
#boxed .republicpg-recent-posts-single_featured[data-padding="8%"] .recent-post-container {
	padding-top: 8%;
	padding-bottom: 8%;
}

.republicpg-recent-posts-single_featured[data-padding="6%"] .recent-post-container,
#boxed .republicpg-recent-posts-single_featured[data-padding="6%"] .recent-post-container {
	padding-top: 6%;
	padding-bottom: 6%;
}
@media only screen and (max-width: 1000px) {
	.republicpg-recent-posts-single_featured .recent-post-container,
	.republicpg-recent-posts-single_featured.multiple_featured > .container {
		padding-left: 50px;
		padding-right: 50px;
	}

	.full-width-content .vc_col-sm-12 .republicpg-recent-posts-single_featured .recent-post-container,
	.full-width-content .vc_col-sm-12 .republicpg-recent-posts-single_featured.multiple_featured > .container {
		padding-left: 0;
		padding-right: 0;
	}
}

.republicpg-recent-posts-single_featured .republicpg-button {
	opacity: 1;
	margin-bottom: 0;
}

.republicpg-recent-posts-single_featured .recent-post-container .excerpt {
	margin-bottom: 45px;
	width: 75%;
}

.republicpg-recent-posts-single_featured h2 {
	margin: 15px 0 50px;
}

.republicpg-recent-posts-single_featured .inner-wrap {
	width: 45%;
}

.vc_col-sm-10 .republicpg-recent-posts-single_featured .inner-wrap,
.vc_col-sm-6 .republicpg-recent-posts-single_featured .inner-wrap,
.vc_col-sm-8 .republicpg-recent-posts-single_featured .inner-wrap,
.vc_col-sm-9 .republicpg-recent-posts-single_featured .inner-wrap {
	width: 60%;
}

.vc_col-sm-2 .republicpg-recent-posts-single_featured .inner-wrap,
.vc_col-sm-3 .republicpg-recent-posts-single_featured .inner-wrap,
.vc_col-sm-4 .republicpg-recent-posts-single_featured .inner-wrap {
	width: 80%;
}

.republicpg-recent-posts-single_featured .inner-wrap .strong a {
	padding: 4px 8px;
	display: inline-block;
	line-height: 20px;
	-webkit-transition: transform 0.45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow 0.45s cubic-bezier(0.25, 1, 0.33, 1);
	transition: transform 0.45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow 0.45s cubic-bezier(0.25, 1, 0.33, 1);
}

.republicpg-recent-posts-single_featured .inner-wrap .strong a:hover {
	box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px);
	-webkit-transform: translateY(-3px);
}

.republicpg-recent-posts-single_featured.multiple_featured .republicpg-recent-post-slide:first-child {
	z-index: 20;
}

.republicpg-recent-posts-single_featured.multiple_featured .recent-post-container {
	z-index: auto;
}

.republicpg-recent-posts-single_featured.multiple_featured .recent-post-container h2 a > span {
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin-bottom: -5px;
}

.republicpg-recent-posts-single_featured.multiple_featured .recent-post-container h2 a > span span {
	position: relative;
	display: block;
	-webkit-transform: translate3d(0, 102%, 0);
	transform: translate3d(0,102%, 0);
}

.republicpg-recent-posts-single_featured.multiple_featured .republicpg-button {
	transition: none;
}

.republicpg-recent-posts-single_featured.multiple_featured .active .grav-wrap,
.republicpg-recent-posts-single_featured.multiple_featured .active .recent-post-container h2 a > span span,
.republicpg-recent-posts-single_featured.multiple_featured .active .republicpg-button {
	transition: opacity 0.85s cubic-bezier(0.4, 0, 0.1, 1) 0.2s, transform 0.85s cubic-bezier(0.4, 0, 0.1, 1) 0.2s, box-shadow 0.45s cubic-bezier(0.25, 1, 0.33, 1);
}

.republicpg-recent-posts-single_featured.multiple_featured .grav-wrap,
.republicpg-recent-posts-single_featured.multiple_featured .republicpg-button {
	opacity: 0;
	transform: translateY(40px);
}

.republicpg-recent-posts-single_featured.multiple_featured .active .grav-wrap,
.republicpg-recent-posts-single_featured.multiple_featured .active .republicpg-button {
	opacity: 1;
	transform: translateY(0px);
}

.republicpg-recent-posts-single_featured.multiple_featured .active .recent-post-container h2 a > span span {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

.republicpg-recent-posts-single_featured.multiple_featured > .container {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	transform: translateY(-50%) translateX(-50%);
	z-index: 20;
	text-align: right;
	pointer-events: none;
}

.republicpg-recent-posts-single_featured.multiple_featured > .container .controls {
	display: inline-block;
	text-align: left;
	width: 200px;
	pointer-events: auto;
}
@media only screen and (min-width: 1000px) {
	.republicpg-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] > .container .controls {
		display: block;
		text-align: left;
		width: auto;
		margin-left: 0;
		pointer-events: auto;
	}

	.republicpg-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] > .container {
		top: auto;
		right: 0;
		left: 0;
		bottom: 0;
		text-align: left;
		transform: none;
	}

	.republicpg-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls li {
		display: inline-block;
	}

	.republicpg-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .republicpg-recent-post-slide .container {
		margin-bottom: 75px;
	}

	.full-width-content .republicpg-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls[data-num="2"] li {
		width: 25%;
		margin-right: 25%;
	}

	.full-width-content .republicpg-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls[data-num="3"] li {
		width: 20%;
		margin-right: 18%;
	}

	.full-width-content .republicpg-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls[data-num="4"] li {
		width: 17.9%;
		margin-right: 6.9%;
	}

	.republicpg-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls[data-num="2"] li {
		width: 25%;
		margin-right: 25%;
	}

	.republicpg-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls[data-num="3"] li {
		width: 20%;
		margin-right: 20%;
	}

	.republicpg-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls[data-num="4"] li {
		width: 18%;
		margin-right: 9%;
	}

	.republicpg-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls li:last-child,
	.full-width-content .republicpg-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls li:last-child {
		margin-right: 0;
	}
}
@media only screen and (max-width: 1000px) {
	.republicpg-recent-posts-single_featured.multiple_featured .republicpg-recent-post-slide .container {
		margin-bottom: 30px;
	}
}

.republicpg-recent-posts-single_featured.multiple_featured .controls li .color-bar,
.republicpg-recent-posts-single_featured.multiple_featured .controls li .color-bar:after,
.republicpg-recent-posts-single_featured.multiple_featured .controls li:after,
.republicpg-recent-posts-single_featured.multiple_featured .controls li:before {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.2);
	height: 2px;
	left: 0;
}
@media only screen and (min-width: 1000px) {
	body .republicpg-recent-posts-single_featured.multiple_featured .controls li.active:before {
		background-color: rgba(255,255,255,0.2)!important;
	}
}

.republicpg-recent-posts-single_featured.multiple_featured .controls li:after {
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 1s cubic-bezier(0.4, 0, 0.1, 1);
}

.republicpg-recent-posts-single_featured[data-autorotate="3000"] .controls li.active:after {
	transition: transform 2950ms linear;
}

.republicpg-recent-posts-single_featured[data-autorotate="4000"] .controls li.active:after {
	transition: transform 3950ms linear;
}

.republicpg-recent-posts-single_featured[data-autorotate="5000"] .controls li.active:after {
	transition: transform 4950ms linear;
}

.republicpg-recent-posts-single_featured[data-autorotate="6000"] .controls li.active:after {
	transition: transform 5950ms linear;
}

.republicpg-recent-posts-single_featured[data-autorotate="7000"] .controls li.active:after {
	transition: transform 6950ms linear;
}

.republicpg-recent-posts-single_featured[data-autorotate="8000"] .controls li.active:after {
	transition: transform 7950ms linear;
}

.republicpg-recent-posts-single_featured[data-autorotate="9000"] .controls li.active:after {
	transition: transform 8950ms linear;
}

.republicpg-recent-posts-single_featured[data-autorotate="10000"] .controls li.active:after {
	transition: transform 9950ms linear;
}

.republicpg-recent-posts-single_featured[data-autorotate="11000"] .controls li.active:after {
	transition: transform 10950ms linear;
}

.republicpg-recent-posts-single_featured.multiple_featured .controls li.trans-out:after {
	transition: none;
}

.republicpg-recent-posts-single_featured.multiple_featured .controls li.active:after {
	transform: scaleX(1);
	transform-origin: left;
}

.republicpg-recent-posts-single_featured.multiple_featured .controls li.active .title,
.republicpg-recent-posts-single_featured.multiple_featured .controls li:hover .title {
	opacity: 1;
}

.republicpg-recent-posts-single_featured.multiple_featured .controls li {
	margin: 50px 0;
	padding: 10px 0;
	position: relative;
	cursor: pointer;
	display: block;
}

.republicpg-recent-posts-single_featured.multiple_featured .controls li .title {
	transition: opacity 0.2s ease;
	opacity: 0.65;
	line-height: 22px;
	font-size: 16px;
	display: block;
}

body[data-button-style*="slightly_rounded"] .republicpg-recent-posts-single_featured .inner-wrap .strong a {
	border-radius: 5px;
}

body[data-button-style^="rounded"] .republicpg-recent-posts-single_featured .inner-wrap .strong a {
	border-radius: 50px;
	padding: 4px 12px;
}

.republicpg-recent-posts-slider h2 a,
.republicpg-recent-posts-slider_multiple_visible .recent-post-container.container .strong a,
.republicpg-recent-posts-slider_multiple_visible h3 a {
	color: #fff!important;
}

.republicpg-recent-posts-slider .flickity-page-dots {
	bottom: 8%;
	z-index: 100;
	max-width: 1100px;
	margin: 0 auto!important !important;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.republicpg-recent-posts-slider .flickity-page-dots .dot:before {
	background-color: #fff;
}

.republicpg-recent-posts-slider_multiple_visible .republicpg-recent-post-slide {
	width: 75%;
	border-radius: 5px;
	min-height: 400px;
	padding-top: 45%;
	margin: 0 15px;
}

.republicpg-recent-posts-slider_multiple_visible .republicpg-recent-posts-slider-inner:not(.flickity-enabled) .republicpg-recent-post-slide {
	position: relative;
	float: left;
}
@media only screen and (min-width: 690px) {
	.republicpg-recent-posts-slider_multiple_visible[data-columns="2"] .republicpg-recent-post-slide,
	.republicpg-recent-posts-slider_multiple_visible[data-columns="3"] .republicpg-recent-post-slide,
	.republicpg-recent-posts-slider_multiple_visible[data-columns="4"] .republicpg-recent-post-slide {
		width: 40%;
		margin: 0 20px;
		padding-top: 35%;
	}
}
@media only screen and (min-width: 1000px) {
	.republicpg-recent-posts-slider_multiple_visible[data-columns="3"] .republicpg-recent-post-slide,
	.republicpg-recent-posts-slider_multiple_visible[data-columns="4"] .republicpg-recent-post-slide {
		width: 25%;
		margin: 0 20px;
	}
}
@media only screen and (min-width: 1600px) {
	.republicpg-recent-posts-slider_multiple_visible[data-columns="4"] .republicpg-recent-post-slide {
		width: 20%;
		padding-top: 30%;
	}
}

.republicpg-recent-posts-slider_multiple_visible {
	overflow: hidden;
}

.full-width-content .vc_col-sm-12 .republicpg-recent-posts-slider_multiple_visible {
	overflow: visible;
}

.republicpg-recent-posts-slider_multiple_visible .republicpg-button {
	margin-bottom: 0;
}

.republicpg-recent-posts-slider_multiple_visible .recent-post-container.container {
	position: absolute;
	bottom: 40px;
	left: 40px;
	max-width: 65%!important;
	z-index: 10;
	padding: 0;
}

.republicpg-recent-posts-slider_multiple_visible .flickity-viewport .republicpg-recent-post-bg,
.republicpg-recent-posts-slider_multiple_visible .flickity-viewport .republicpg-recent-post-bg-wrap {
	transition: transform 0.28s ease;
	z-index: 9;
}

.republicpg-recent-posts-slider_multiple_visible .flickity-viewport .republicpg-recent-post-bg-blur {
	transition: opacity 0.28s ease;
	filter: blur(35px);
	transform: translateY(38px);
	opacity: 0;
	z-index: 1;
}

.republicpg-recent-posts-slider_multiple_visible[data-shadow-hover-type="dark"] .flickity-viewport .republicpg-recent-post-bg-blur {
	display: none;
}

.republicpg-recent-posts-slider_multiple_visible .flickity-viewport .republicpg-recent-post-bg-wrap {
	border: 1px solid transparent;
	overflow: hidden;
	border-radius: 5px;
	transform: scale(1) translateZ(0);
}

.republicpg-recent-posts-slider_multiple_visible .recent-post-container.container .republicpg-button {
	opacity: 1;
	margin-top: 20px;
	transform: none!important;
}

.republicpg-recent-posts-slider_multiple_visible .flickity-page-dots {
	bottom: -80px;
}

.republicpg-recent-posts-slider_multiple_visible {
	padding-bottom: 100px;
}

.republicpg-recent-posts-slider_multiple_visible .republicpg-recent-post-bg,
.republicpg-recent-posts-slider_multiple_visible .republicpg-recent-post-bg:after {
	border-radius: 5px;
}

.republicpg-recent-posts-slider_multiple_visible .republicpg-recent-post-slide {
	transition: box-shadow 0.28s ease;
}

.republicpg-recent-posts-slider_multiple_visible .flickity-viewport:not(.no-hover) .republicpg-recent-post-slide:hover {
	transition-delay: 0s !important;
	z-index: 3;
}

.republicpg-recent-posts-slider_multiple_visible .flickity-viewport:not(.no-hover) .republicpg-recent-post-slide:hover .republicpg-recent-post-bg-blur {
	opacity: 0.7;
}

.republicpg-recent-posts-slider_multiple_visible .republicpg-recent-post-slide .republicpg-recent-post-bg:after {
	background-color: rgba(25,25,25,0.37);
	transition: background-color 0.28s ease;
}

.republicpg-recent-posts-slider_multiple_visible .republicpg-recent-post-slide:not(.no-bg-img):hover .republicpg-recent-post-bg:after {
	background-color: rgba(25,25,25,0.24);
}

.republicpg-recent-posts-slider_multiple_visible .republicpg-recent-post-slide:not(.no-bg-img) .republicpg-recent-post-bg,
.republicpg-recent-posts-slider_multiple_visible .republicpg-recent-post-slide:not(.no-bg-img) .republicpg-recent-post-bg-wrap {
	background-color: transparent;
	backface-visibility: hidden;
}

.republicpg-recent-posts-slider_multiple_visible .flickity-viewport:not(.no-hover) .republicpg-recent-post-slide:hover .republicpg-recent-post-bg {
	transform: scale(1) translateZ(0);
}

.republicpg-recent-posts-slider_multiple_visible .flickity-viewport .republicpg-recent-post-slide .republicpg-recent-post-bg {
	transform: scale(1.13) translateZ(0);
}

.republicpg-recent-posts-slider_multiple_visible .flickity-viewport:not(.no-hover) .republicpg-recent-post-slide:hover .republicpg-recent-post-bg-wrap {
	transform: scale(1.08) translateZ(0);
}

.republicpg-recent-posts-slider_multiple_visible[data-shadow-hover-type="dark"] .flickity-viewport .republicpg-recent-post-bg-wrap {
	transition: transform 0.28s ease, box-shadow 0.28s ease;
}

.republicpg-recent-posts-slider_multiple_visible[data-shadow-hover-type="dark"] .flickity-viewport:not(.no-hover) .republicpg-recent-post-slide:hover .republicpg-recent-post-bg-wrap {
	box-shadow: 0 40px 95px -15px rgba(0,0,0,0.15);
}

.republicpg-recent-posts-single_featured .controls li,
.republicpg-recent-posts-single_featured .inner-wrap,
.republicpg-recent-posts-single_featured a,
.republicpg-recent-posts-single_featured h2 {
	color: #fff;
}

.blog-recent[data-style="list_featured_first_row"] a.small {
	width: 80px;
	height: 100%;
	margin-right: 30px;
	line-height: 0;
	position: relative;
}

.blog-recent[data-style="list_featured_first_row"] .meta-category {
	position: relative;
	z-index: 30;
}

.blog-recent[data-style="list_featured_first_row"] a.small img,
.blog-recent[data-style="list_featured_first_row"] .col:not(.has-post-thumbnail) a.small {
	border-radius: 5px;
	-webkit-transition: all 0.7s cubic-bezier(.2,1,.22,1);
	transition: all 0.7s cubic-bezier(.2,1,.22,1);
}

.blog-recent[data-style="list_featured_first_row"] .col:not(.has-post-thumbnail) a.small {
	background-color: rgba(0,0,0,0.35);
	border-radius: 5px;
}

.span_12.light .blog-recent[data-style="list_featured_first_row"] .excerpt {
	opacity: 0.7;
}

.blog-recent[data-style="list_featured_first_row"] .full-post-link {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 20;
}

.blog-recent[data-style="list_featured_first_row"] .col.span_3 a.small {
	width: 60px;
	height: 60px;
}

.blog-recent[data-style="list_featured_first_row"] .col.span_4 a.small,
.blog-recent[data-style="list_featured_first_row"] .col.span_6 a.small {
	width: 80px;
	height: 80px;
}
@media only screen and (min-width: 1300px) {
	.blog-recent[data-style="list_featured_first_row"] .col.span_6 a.small {
		width: 100px;
		height: 100px;
	}
}

.vc_col-sm-9 .blog-recent[data-style="list_featured_first_row"] .col.span_4 a.small,
.vc_col-sm-8 .blog-recent[data-style="list_featured_first_row"] .col.span_4 a.small,
.vc_col-sm-6 .blog-recent[data-style="list_featured_first_row"] .col.span_4 a.small {
	width: 65px;
	height: 65px;
	margin-right: 22px;
}

.vc_col-sm-9 .blog-recent[data-style="list_featured_first_row"] .col.span_4 .post-header.small,
.vc_col-sm-8 .blog-recent[data-style="list_featured_first_row"] .col.span_4 .post-header.small,
.vc_col-sm-6 .blog-recent[data-style="list_featured_first_row"] .col.span_4 .post-header.small {
	padding-right: 0;
}

.blog-recent[data-style="list_featured_first_row"] .col:not(.has-post-thumbnail) a.small:after {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	text-align: center;
	margin-right: 3%;
	position: absolute;
	left: 50%;
	top: 50%;
	color: #fff!important;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	font: normal normal normal 18px/20px FontAwesome;
	content: "\f03e";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
@media only screen and (min-width: 1000px) {
	.blog-recent[data-style="list_featured_first_row"] .col.span_3 {
		width: 22.6%;
		margin-right: 3%;
	}

	.blog-recent[data-style="list_featured_first_row"] .col.span_4 {
		width: 31.2%;
		margin-right: 3%;
	}

	.blog-recent[data-style="list_featured_first_row"] .col.span_6 {
		width: 47.9%;
		margin-right: 4%;
	}

	.vc_col-sm-9 .blog-recent[data-style="list_featured_first_row"] .col.span_3,
	.vc_col-sm-8 .blog-recent[data-style="list_featured_first_row"] .col.span_3 {
		width: 22.3%;
		margin-right: 3.5%;
	}

	.vc_col-sm-9 .blog-recent[data-style="list_featured_first_row"] .col.span_4,
	.vc_col-sm-8 .blog-recent[data-style="list_featured_first_row"] .col.span_4 {
		width: 31%;
		margin-right: 3.4%;
	}

	.vc_col-sm-9 .blog-recent[data-style="list_featured_first_row"] .col.span_6,
	.vc_col-sm-8 .blog-recent[data-style="list_featured_first_row"] .col.span_6 {
		width: 48.1%;
		margin-right: 3.5%;
	}

	.blog-recent[data-style="list_featured_first_row"] > .col.span_3:nth-child(1),
	.blog-recent[data-style="list_featured_first_row"] > .col.span_3:nth-child(2),
	.blog-recent[data-style="list_featured_first_row"] > .col.span_3:nth-child(3),
	.blog-recent[data-style="list_featured_first_row"] > .col.span_3:nth-child(4),
	.blog-recent[data-style="list_featured_first_row"] > .col.span_4:nth-child(1),
	.blog-recent[data-style="list_featured_first_row"] > .col.span_4:nth-child(2),
	.blog-recent[data-style="list_featured_first_row"] > .col.span_4:nth-child(3),
	.blog-recent[data-style="list_featured_first_row"] > .col.span_6:nth-child(1),
	.blog-recent[data-style="list_featured_first_row"] > .col.span_6:nth-child(2) {
		align-self: flex-start;
	}
}
@media only screen and (max-width: 1000px) {
	.row .blog-recent[data-style="list_featured_first_row"] .col {
		margin-right: 0;
	}
}

.blog-recent[data-style="list_featured_first_row"] {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
}
@media only screen and (max-width: 1000px) and (min-width: 690px) {
	.blog-recent[data-style="list_featured_first_row"] > .col.span_3:nth-child(1),
	.blog-recent[data-style="list_featured_first_row"] > .col.span_3:nth-child(2),
	.blog-recent[data-style="list_featured_first_row"] > .col.span_3:nth-child(3),
	.blog-recent[data-style="list_featured_first_row"] > .col.span_3:nth-child(4) {
		vertical-align: top;
	}

	.blog-recent[data-style="list_featured_first_row"] .col.span_3 {
		width: 46.9%!important;
		margin-right: 6%!important;
		padding-right: 0;
		padding-left: 0;
	}

	.blog-recent[data-style="list_featured_first_row"] .col.span_3:nth-child(2n+2) {
		margin-right: 0!important;
	}
}

.blog-recent[data-style="list_featured_first_row"] .col {
	float: none;
}

.blog-recent[data-style="list_featured_first_row"] .featured span.post-featured-img {
	padding-bottom: 160%;
	background-position: center;
	background-size: cover;
}

.full-width-section .blog-recent[data-style="list_featured_first_row"] .featured > img {
	margin-bottom: 25px!important;
}

.blog-recent[data-style="list_featured_first_row"] .featured > img,
.blog-recent[data-style="list_featured_first_row"] .featured span.post-featured-img {
	display: block;
	margin-bottom: 20px;
	max-width: none;
	width: 100%;
	border-radius: 5px;
	-webkit-transition: all 0.7s cubic-bezier(.2,1,.22,1);
	transition: all 0.7s cubic-bezier(.2,1,.22,1);
}

.blog-recent[data-style="list_featured_first_row"] .col:hover a > img,
.blog-recent[data-style="list_featured_first_row"] .col:hover:not(.has-post-thumbnail) a.small,
.blog-recent[data-style="list_featured_first_row"] .col:hover span.post-featured-img,
.blog-recent[data-style="list_featured_first_row"] .featured:hover > img,
.blog-recent[data-style="list_featured_first_row"] a.small:hover > img,
.blog-recent[data-style="list_featured_first_row"] .col:not(.has-post-thumbnail) a.small:hover {
	-webkit-transform: translateY(-4px);
	transform: translateY(-4px);
	box-shadow: 0 25px 60px rgba(0,0,0,0.17);
}

.blog-recent[data-style="list_featured_first_row"] a.small:hover > img {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.blog-recent[data-style="list_featured_first_row"] a.small:hover > img {
	box-shadow: 0 13px 30px rgba(0,0,0,0.14);
}

.blog-recent[data-style="list_featured_first_row"] .col.span_4 .post-header.small,
.blog-recent[data-style="list_featured_first_row"] .col.span_6 .post-header.small {
	padding-right: 30px;
}

.blog-recent[data-style="list_featured_first_row"] .post-header h3 a,
.blog-recent[data-style="list_featured_first_row"] .post-header h5 a,
.home .blog-recent[data-style="list_featured_first_row"] .col .post-header h3 a {
	color: inherit!important;
}

.blog-recent[data-style="list_featured_first_row"] .post-header.small {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	width: calc(100% - 120px);
}
@media only screen and (min-width: 1300px) {
	.blog-recent[data-style="list_featured_first_row"] .post-header.small {
		width: calc(100% - 140px);
	}
}

.blog-recent[data-style="list_featured_first_row"] .col.span_3 .post-header.small {
	width: calc(100% - 100px);
}

.blog-recent[data-style="list_featured_first_row"] a.small img {
	margin-bottom: 0;
}

[data-style="list_featured_first_row"] .meta-category a {
	margin-right: 10px;
	font-size: 14px;
	line-height: 18px;
	position: relative;
}

[data-style="list_featured_first_row"] .post-header.small .meta-category a {
	font-size: 13px;
}