/***************** Food Menu Item ******************/
body .republicpg_food_menu_item,
body .tabbed div.republicpg_food_menu_item {
	margin-bottom: 30px;
}

body .republicpg_food_menu_item .inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.span_12.light .republicpg_food_menu_item .line_spacer {
	border-color: #fff;
}

.republicpg_food_menu_item h3,
.republicpg_food_menu_item h4,
.republicpg_food_menu_item h5,
.republicpg_food_menu_item h6 {
	margin-bottom: 0!important;
	line-height: 21px!important;
}

.republicpg_food_menu_item[data-style="default"] .line_spacer {
	visibility: hidden;
}

.republicpg_food_menu_item .line_spacer {
	border-bottom: 1px solid #000;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.republicpg_food_menu_item .item_price {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	padding-left: 10px;
	text-align: left;
}

.republicpg_food_menu_item .item_name {
	padding-right: 10px;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}

.republicpg_food_menu_item .inner {
	transition: transform 0.6s cubic-bezier(0,0.2,0.22,1),opacity 0.6s cubic-bezier(0,0.2,0.22,1);
	transform: translateY(50px);
	opacity: 0;
}

.republicpg_food_menu_item .item_description {
	margin-top: 10px;
	opacity: 0.7;
	transition: transform 0.6s cubic-bezier(0,0.2,0.22,1) 0.1s,opacity 0.6s cubic-bezier(0,0.2,0.22,1) 0.1s;
	transform: translateY(50px);
	opacity: 0;
}

.republicpg_food_menu_item.animated-in .inner,
.republicpg_food_menu_item.animated-in .item_description {
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}