/***************** Superfish ******************/
.sf-menu {
	line-height: 1;
}

.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 10em;
}

.sf-menu ul li {
	width: 100%;
}

.sf-menu li:hover {
	visibility: inherit;
}

.sf-menu li {
	float: left;
	position: relative;
}

.sf-menu li.sfHover ul,
.sf-menu li:hover ul {
	left: 0;
	top: 2.5em;
	z-index: 99;
}

header#top .sf-menu > li.sfHover > ul,
header#top .sf-menu > li:hover > ul {
	top: 60px;
}

ul.sf-menu li.sfHover li ul,
ul.sf-menu li:hover li ul {
	top: -999em;
}

ul.sf-menu li li.sfHover ul,
ul.sf-menu li li:hover ul {
	left: 10.8em;
	top: -10px;
}

ul.sf-menu li li.sfHover li ul,
ul.sf-menu li li:hover li ul {
	top: -999em;
}

ul.sf-menu li li li.sfHover ul,
ul.sf-menu li li li:hover ul {
	left: 10em;
	top: 0;
}

.sub-menu {
	z-index: 3;
}

.sf-menu {
	float: left;
	margin-bottom: 30px;
}

.sf-menu li li a,
.sf-menu li li a:visited {
	padding-left: 1.25em;
}

.sf-menu a:active,
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu li.sfHover,
.sf-menu li:hover {
	outline: 0 none;
}

.sf-menu ul li a {
	margin: 0;
	padding: 14px;
	border-bottom: 1px solid rgba(255,255,255,0.08);
}

.sf-sub-indicator {
	display: inline-block;
	width: 10px;
	position: relative;
	left: 8px;
	height: 10px;
}

.sf-sub-indicator i {
	width: 8px;
}

.sf-sub-indicator [class^="icon-"],
.sf-sub-indicator [class*=" icon-"] {
	color: #888;
	font-size: 12px;
	line-height: 16px;
	height: auto;
	background-color: transparent!important;
}

.material .sf-menu > li > a > .sf-sub-indicator [class^="icon-"] {
	font-size: 16px;
}

.sf-menu ul a:active,
.sf-menu ul a:focus,
.sf-menu ul a:hover,
.sf-menu ul li.sfHover > a,
.sf-menu ul li:hover > a {
	color: #27CFC3;
}

.sf-shadow ul.sf-shadow-off {
	background: none repeat scroll 0 0 transparent;
}

.sf-vertical,
.sf-vertical li {
	width: 100%;
}

.sf-vertical li.sfHover ul,
.sf-vertical li:hover ul {
	left: 100%;
	top: 0;
}

.sf-menu,
.sf-menu * {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	z-index: 10;
}

.sf-menu {
	line-height: 1;
}

.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 16em;
}

.sf-menu ul li,
.sf-menu ul li li {
	font-size: 12px;
	width: 100%;
}

.sf-menu ul li:last-child a {
	border-bottom: medium none;
}

.sf-menu li:hover {
	visibility: inherit;
}

.sf-menu li {
	float: left;
	line-height: 0px!important;
	font-size: 12px!important;
	position: relative;
}

.sf-menu a {
	display: block;
	position: relative;
}

.sf-menu li.sfHover ul,
.sf-menu li:hover ul {
	left: 0;
	top: 33px;
	z-index: 999;
}

ul.sf-menu li.sfHover li ul,
ul.sf-menu li:hover li ul {
	top: -999em;
}

ul.sf-menu li li.sfHover ul,
ul.sf-menu li li:hover ul {
	left: 15em;
	top: 0;
}

ul.sf-menu li li.sfHover li ul,
ul.sf-menu li li:hover li ul {
	top: -999em;
}

ul.sf-menu li li li.sfHover ul,
ul.sf-menu li li li:hover ul {
	left: 15em;
	top: 0;
}

.sf-menu .sf-with-ul a {
	min-width: 1px;
	padding-right: 16px!important;
}

header#top .sf-menu li ul li a {
	font-size: 12px;
	line-height: 13px;
	color: #ccc;
	transition: none;
	letter-spacing: 0;
	background-color: #1C1C1C;
}

.sf-menu li ul li a:hover,
.sf-menu li ul li.sfHover > a {
	color: #27CFC3;
	background-color: #272727!important;
}

.sf-menu li ul li.sfHover > a .sf-sub-indicator [class^="icon-"] {
	color: #27CFC3;
}

.sf-menu li ul li .sf-sub-indicator {
	right: 14px;
	left: auto;
	top: 14px;
	display: block;
	position: absolute;
}

.sf-menu li li ul,
.sf-menu li ul {
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.sf-menu li li ul {
	left: 16em!important;
}

.sf-menu li li ul.on-left-side {
	left: auto!important;
	right: 16em;
}

.sf-menu {
	float: right;
}

.sf-menu a {
	margin: 0 1px;
	padding: 0.75em 1em 32px;
	text-decoration: none;
}

.sf-menu ul li {
	font-weight: normal;
}

.sf-menu .sfHover ul li a,
.sf-menu .sfHover ul li li a {
	box-shadow: none;
}

.sf-menu ul li a:active,
.sf-menu ul li a:focus,
.sf-menu ul li a:hover,
.sf-menu ul li li a:active,
.sf-menu ul li li a:focus,
.sf-menu ul li li a:hover {
	border-radius: 0 0 0 0;
	box-shadow: none;
	text-shadow: none;
}