/*-------------------------------------------------------------------------*/
/*	Utility
/*-------------------------------------------------------------------------*/
.display-block {
	display: block;
}

.overflow-x-hidden {
	overflow-x: hidden;
}

.no-bottom-padding {
	padding-bottom: 0;
}

.col.center {
	text-align: center;
}

.col.right {
	text-align: right;
}
