/***************** Image with animation / Col animation ******************/
.col.has-animation,
.republicpg-fancy-box.has-animation,
.republicpg_cascading_images .cascading-image .inner-wrap,
.wpb_column.has-animation,
img.img-with-animation {
	opacity: 0;
	position: relative;
}

.wpb_column.has-animation[data-animation*="reveal"] {
	opacity: 1;
}

img.img-with-animation[data-animation="grow-in"].full-opacity {
	opacity: 1;
}

html:not(.js) .col.has-animation,
html:not(.js) .wpb_column.has-animation,
html:not(.js) img.img-with-animation {
	opacity: 1;
}

img.img-with-animation[data-animation="none"],
.republicpg_cascading_images .cascading-image[data-animation="none"] .inner-wrap {
	opacity: 1;
}

.col.has-animation[data-animation="zoom-out"] {
	transform: translateZ(0) scale(1.2);
	opacity: 0;
}

img.img-with-animation[data-animation="grow-in"],
.col.has-animation[data-animation="grow-in"],
.wpb_column.has-animation[data-animation="grow-in"],
.republicpg-fancy-box.has-animation[data-animation="grow-in"] {
	opacity: 0;
	transform: scale(0.75);
	-webkit-transform: scale(0.75);
	transition: opacity 0.6s cubic-bezier(0.15,0.84,0.35,1.25),background-color 0.35s cubic-bezier(.65,0,.35,1);
	-webkit-transition: opacity 0.6s cubic-bezier(0.15,0.84,0.35,1.25),background-color 0.35s cubic-bezier(.65,0,.35,1);
	-webkit-backface-visibility: hidden;
}

.republicpg_cascading_images .cascading-image[data-animation="grow-in"] .inner-wrap {
	transform: scale(0.75);
	-webkit-transform: scale(0.75);
}

img.img-with-animation[data-animation="flip-in"],
.col.has-animation[data-animation="flip-in"],
.wpb_column.has-animation[data-animation="flip-in"],
.republicpg-fancy-box.has-animation[data-animation="flip-in"] {
	opacity: 0;
	transform: rotateY(25deg);
	-webkit-transform: rotateY(25deg);
	transition: opacity 1s ease,background-color 0.35s cubic-bezier(.65,0,.35,1);
	-webkit-transition: opacity 1s ease,background-color 0.35s cubic-bezier(.65,0,.35,1);
	-moz-transition: opacity 1s ease,background-color 0.35s cubic-bezier(.65,0,.35,1);
}

.republicpg_cascading_images .cascading-image[data-animation="flip-in"] .inner-wrap {
	transform: rotateY(25deg);
	-webkit-transform: rotateY(25deg);
}

.flip-in-vertical-wrap {
	-webkit-perspective: 2000px;
	perspective: 2000px;
}

img.img-with-animation[data-animation="flip-in-vertical"],
.col.has-animation[data-animation="flip-in-vertical"],
.wpb_column.has-animation[data-animation="flip-in-vertical"],
.republicpg-fancy-box.has-animation[data-animation="flip-in-vertical"] {
	opacity: 0;
	transform: rotateX(-45deg) translateY(120px);
	-webkit-transform: rotateX(-45deg) translateY(120px);
	transition: opacity 1s ease,background-color 0.35s cubic-bezier(.65,0,.35,1);
	-webkit-transition: opacity 1s ease,background-color 0.35s cubic-bezier(.65,0,.35,1);
}

img.img-with-animation[data-shadow="small_depth"],
.wpb_column[data-shadow="small_depth"],
.republicpg_cascading_images .cascading-image[data-shadow="small_depth"] .img-wrap,
.republicpg_cascading_images .cascading-image[data-shadow="small_depth"] .bg-color,
.republicpg-video-box[data-shadow="small_depth"]:before,
.republicpg-flickity[data-shadow="small_depth"] div.cell {
	box-shadow: 0 10px 50px rgba(0,0,0,0.08),0 13px 45px rgba(0,0,0,0.08);
}

img.img-with-animation[data-shadow="medium_depth"],
.wpb_column[data-shadow="medium_depth"],
.republicpg_cascading_images .cascading-image[data-shadow="medium_depth"] .img-wrap,
.republicpg_cascading_images .cascading-image[data-shadow="medium_depth"] .bg-color,
.republicpg-video-box[data-shadow="medium_depth"]:before,
.republicpg-flickity[data-shadow="medium_depth"] div.cell {
	box-shadow: 0 30px 80px rgba(0,0,0,0.14),0 20px 70px rgba(0,0,0,0.12);
}

img.img-with-animation[data-shadow="large_depth"],
.wpb_column[data-shadow="large_depth"],
.republicpg_cascading_images .cascading-image[data-shadow="large_depth"] .img-wrap,
.republicpg_cascading_images .cascading-image[data-shadow="large_depth"] .bg-color,
.republicpg-video-box[data-shadow="large_depth"]:before {
	box-shadow: 0 40px 100px rgba(0,0,0,0.15),0 25px 80px rgba(0,0,0,0.1);
}

.republicpg-flickity[data-shadow="large_depth"] div.cell {
	box-shadow: 0 35px 55px rgba(0,0,0,0.08),0 25px 63px rgba(0,0,0,0.08);
}

img.img-with-animation[data-shadow="x_large_depth"],
.wpb_column[data-shadow="x_large_depth"],
.republicpg_cascading_images .cascading-image[data-shadow="x_large_depth"] .img-wrap,
.republicpg_cascading_images .cascading-image[data-shadow="x_large_depth"] .bg-color,
.republicpg-video-box[data-shadow="x_large_depth"]:before,
.republicpg-flickity[data-shadow="x_large_depth"] div.cell {
	box-shadow: 0 60px 135px rgba(0,0,0,0.14),0 15px 65px rgba(0,0,0,0.14);
}

img.img-with-animation[data-animation="fade-in-from-left"] {
	transform: translateX(-75px);
	-webkit-transform: translateX(-75px);
	padding-right: 30px;
}

img.img-with-animation[data-animation="fade-in-from-left"][data-shadow*="_depth"] {
	padding-right: 0;
}

.col.has-animation[data-animation="fade-in-from-left"],
.wpb_column.has-animation[data-animation="fade-in-from-left"],
.republicpg-fancy-box.has-animation[data-animation="fade-in-from-left"] {
	transform: translateX(-45px);
	-webkit-transform: translateX(-45px);
}

.republicpg_cascading_images .cascading-image[data-animation="fade-in-from-left"] .inner-wrap {
	transform: translateX(-60px);
	-webkit-transform: translateX(-60px);
}

img.img-with-animation[data-animation="fade-in-from-right"] {
	transform: translateX(75px);
	-webkit-transform: translateX(75px);
}

.col.has-animation[data-animation="fade-in-from-right"],
.wpb_column.has-animation[data-animation="fade-in-from-right"],
.republicpg-fancy-box.has-animation[data-animation="fade-in-from-right"] {
	transform: translateX(45px);
	-webkit-transform: translateX(45px);
}

.republicpg_cascading_images .cascading-image[data-animation="fade-in-from-right"] .inner-wrap {
	transform: translateX(60px);
	-webkit-transform: translateX(60px);
}

img.img-with-animation[data-animation="fade-in-from-bottom"] {
	transform: translateY(100px);
	-webkit-transform: translateY(100px);
}

.col.has-animation[data-animation="fade-in-from-bottom"],
.wpb_column.has-animation[data-animation="fade-in-from-bottom"],
.republicpg-fancy-box.has-animation[data-animation="fade-in-from-bottom"] {
	transform: translateY(50px);
	-webkit-transform: translateY(50px);
}

.republicpg_cascading_images .cascading-image[data-animation="fade-in-from-bottom"] .inner-wrap {
	transform: translateY(60px);
	-webkit-transform: translateY(60px);
}

img.img-with-animation[data-animation="fade-in-from-left"],
img.img-with-animation[data-animation="fade-in-from-right"],
.republicpg-fancy-box.has-animation[data-animation="fade-in-from-right"] {
	margin: 0 auto;
}

.republicpg_cascading_images[data-border-radius="3px"] .inner-wrap img,
.republicpg_cascading_images[data-border-radius="3px"] .inner-wrap .img-wrap,
.republicpg_cascading_images[data-border-radius="3px"] .inner-wrap .bg-color {
	border-radius: 3px;
}

.republicpg_cascading_images[data-border-radius="5px"] .inner-wrap img,
.republicpg_cascading_images[data-border-radius="5px"] .inner-wrap .img-wrap,
.republicpg_cascading_images[data-border-radius="5px"] .inner-wrap .bg-color {
	border-radius: 5px;
}

.republicpg_cascading_images[data-border-radius="10px"] .inner-wrap img,
.republicpg_cascading_images[data-border-radius="10px"] .inner-wrap .img-wrap,
.republicpg_cascading_images[data-border-radius="10px"] .inner-wrap .bg-color {
	border-radius: 10px;
}

.republicpg_cascading_images[data-border-radius="15px"] .inner-wrap img,
.republicpg_cascading_images[data-border-radius="15px"] .inner-wrap .img-wrap,
.republicpg_cascading_images[data-border-radius="15px"] .inner-wrap .bg-color {
	border-radius: 15px;
}

.republicpg_cascading_images[data-border-radius="20px"] .inner-wrap img,
.republicpg_cascading_images[data-border-radius="20px"] .inner-wrap .img-wrap,
.republicpg_cascading_images[data-border-radius="20px"] .inner-wrap .bg-color {
	border-radius: 20px;
}
@media all and (-ms-high-contrast:none) {
	*::-ms-backdrop,
	.row .republicpg_cascading_images .cascading-image img:not([srcset]) {
		width: 100%;
	}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.row .republicpg_cascading_images .cascading-image img:not([srcset]) {
		width: 100%;
	}
}

.img-with-aniamtion-wrap {
	line-height: 0;
	margin-bottom: 0!important;
}

.center img.img-with-animation {
	margin: 0 auto;
	display: block;
}

.right.img-with-aniamtion-wrap {
	text-align: right;
}

.right.img-with-aniamtion-wrap img {
	display: inline-block;
}

.right.img-with-aniamtion-wrap[data-max-width="110%"] img,
.right.img-with-aniamtion-wrap[data-max-width="125%"] img,
.right.img-with-aniamtion-wrap[data-max-width="150%"] img,
.right.img-with-aniamtion-wrap[data-max-width="175%"] img,
.right.img-with-aniamtion-wrap[data-max-width="200%"] img,
.right.img-with-aniamtion-wrap[data-max-width="225%"] img,
.right.img-with-aniamtion-wrap[data-max-width="250%"] img {
	display: block;
}
/*fixing overflow chrome issue */
.img-with-aniamtion-wrap[data-max-width="110%"]:not(.right) img,
.img-with-aniamtion-wrap[data-max-width="125%"]:not(.right) img,
.img-with-aniamtion-wrap[data-max-width="150%"]:not(.right) img,
.img-with-aniamtion-wrap[data-max-width="175%"]:not(.right) img,
.img-with-aniamtion-wrap[data-max-width="200%"]:not(.right) img,
.img-with-aniamtion-wrap[data-max-width="225%"]:not(.right) img,
.img-with-aniamtion-wrap[data-max-width="250%"]:not(.right) img,
.img-with-aniamtion-wrap[data-max-width="50%"]:not(.right) img,
.img-with-aniamtion-wrap[data-max-width="75%"]:not(.right) img {
	backface-visibility: hidden;
}

.wpb_column.has-animation[data-animation*="reveal"] {
	overflow: hidden;
}

.wpb_column.has-animation[data-animation*="reveal"] .column-inner-wrap {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.img-with-aniamtion-wrap[data-max-width="110%"] .inner {
	width: 110%;
	display: block;
}

.img-with-aniamtion-wrap[data-max-width="125%"] .inner {
	width: 125%;
	display: block;
}

.img-with-aniamtion-wrap[data-max-width="150%"] .inner {
	width: 150%;
	display: block;
}

.img-with-aniamtion-wrap[data-max-width="165%"] .inner {
	width: 165%;
	display: block;
}

.img-with-aniamtion-wrap[data-max-width="175%"] .inner {
	width: 175%;
	display: block;
}

.img-with-aniamtion-wrap[data-max-width="200%"] .inner {
	width: 200%;
	display: block;
}

.img-with-aniamtion-wrap[data-max-width="225%"] .inner {
	width: 225%;
	display: block;
}

.img-with-aniamtion-wrap[data-max-width="250%"] .inner {
	width: 250%;
	display: block;
}

.img-with-aniamtion-wrap[data-max-width="110%"].center .inner {
	margin-left: -5%;
}

.img-with-aniamtion-wrap[data-max-width="125%"].center .inner {
	margin-left: -12.5%;
}

.img-with-aniamtion-wrap[data-max-width="150%"].center .inner {
	margin-left: -25%;
}

.img-with-aniamtion-wrap[data-max-width="165%"].center .inner {
	margin-left: -32.5%;
}

.img-with-aniamtion-wrap[data-max-width="175%"].center .inner {
	margin-left: -37.5%;
}

.img-with-aniamtion-wrap[data-max-width="200%"].center .inner {
	margin-left: -50%;
}

.img-with-aniamtion-wrap[data-max-width="225%"].center .inner {
	margin-left: -62.5%;
}

.img-with-aniamtion-wrap[data-max-width="250%"].center .inner {
	margin-left: -75%;
}

.img-with-aniamtion-wrap.right[data-max-width="110%"] .inner {
	margin-left: -10%;
}

.img-with-aniamtion-wrap.right[data-max-width="125%"] .inner {
	margin-left: -25%;
}

.img-with-aniamtion-wrap.right[data-max-width="150%"] .inner {
	margin-left: -50%;
}

.img-with-aniamtion-wrap.right[data-max-width="165%"] .inner {
	margin-left: -65%;
}

.img-with-aniamtion-wrap.right[data-max-width="175%"] .inner {
	margin-left: -75%;
}

.img-with-aniamtion-wrap.right[data-max-width="200%"] .inner {
	margin-left: -100%;
}

.img-with-aniamtion-wrap.right[data-max-width="225%"] .inner {
	margin-left: -125%;
}

.img-with-aniamtion-wrap.right[data-max-width="250%"] .inner {
	margin-left: -150%;
}

.img-with-aniamtion-wrap[data-max-width="50%"] img,
.republicpg-flickity:not(.masonry) .flickity-slider .cell .img-with-aniamtion-wrap[data-max-width="50%"] img {
	max-width: 50%;
	width: auto;
}

.img-with-aniamtion-wrap[data-max-width="75%"] img,
.republicpg-flickity:not(.masonry) .flickity-slider .cell .img-with-aniamtion-wrap[data-max-width="75%"] img {
	max-width: 75%;
	width: auto;
}

.img-with-aniamtion-wrap[data-max-width="110%"] img,
.img-with-aniamtion-wrap[data-max-width="125%"] img,
.img-with-aniamtion-wrap[data-max-width="150%"] img,
.img-with-aniamtion-wrap[data-max-width="175%"] img,
.img-with-aniamtion-wrap[data-max-width="200%"] img,
.img-with-aniamtion-wrap[data-max-width="225%"] img,
.img-with-aniamtion-wrap[data-max-width="250%"] img {
	max-width: 100%;
	width: auto;
}

.wpb_column.has-animation[data-animation*="reveal"] .column-inner-wrap.no-transform,
.wpb_column.has-animation[data-animation*="reveal"] .column-inner-wrap.no-transform .column-inner {
	transform: none;
	-webkit-transform: none;
}
@media only screen and (min-width: 690px) {
	.vc_row-o-equal-height .wpb_column.has-animation[data-animation*="reveal"] > .column-inner-wrap {
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.vc_row-o-equal-height.vc_row-o-content-middle .wpb_column.has-animation[data-animation*="reveal"] > .column-inner-wrap {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		height: auto;
	}

	.vc_row-o-equal-height.vc_row-o-content-bottom .wpb_column.has-animation[data-animation*="reveal"] > .column-inner-wrap,
	.vc_row-o-equal-height.vc_row-o-content-bottom .wpb_column.has-animation[data-animation*="reveal"] > .column-inner-wrap > .column-inner {
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
}

.wpb_column .column-inner[data-bg-cover="true"],
.wpb_column[data-bg-cover="true"],
.wpb_column[data-bg-cover="true"] .column-image-bg,
.wpb_column .column-inner[data-bg-cover="true"] .column-image-bg {
	background-size: cover;
	background-position: center;
}
@media only screen and (min-width:1000px) {
	.wpb_column.has-animation[data-animation="reveal-from-bottom"] .column-inner-wrap {
		transform: translateY(100%);
		-webkit-transform: translateY(100%);
	}

	.wpb_column.has-animation[data-animation="reveal-from-bottom"] .column-inner {
		transform: translateY(-90%);
		-webkit-transform: translateY(-90%);
	}

	.wpb_column.has-animation[data-animation="reveal-from-top"] .column-inner-wrap {
		transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
	}

	.wpb_column.has-animation[data-animation="reveal-from-top"] .column-inner {
		transform: translateY(90%);
		-webkit-transform: translateY(90%);
	}

	.wpb_column.has-animation[data-animation="reveal-from-left"] .column-inner-wrap {
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
	}

	.wpb_column.has-animation[data-animation="reveal-from-left"] .column-inner {
		transform: translateX(90%);
		-webkit-transform: translateX(90%);
	}

	.wpb_column.has-animation[data-animation="reveal-from-right"] .column-inner-wrap {
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
	}

	.wpb_column.has-animation[data-animation="reveal-from-right"] .column-inner {
		transform: translateX(-90%);
		-webkit-transform: translateX(-90%);
	}
}

#republicpg_fullscreen_rows #footer-outer .clients.fade-in-animation > div,
#republicpg_fullscreen_rows #footer-outer .col.has-animation,
#republicpg_fullscreen_rows #footer-outer .republicpg-milestone:not(.animated-in),
#republicpg_fullscreen_rows #footer-outer .wpb_column.has-animation,
#republicpg_fullscreen_rows #footer-outer img.img-with-animation {
	opacity: 1!important;
	transform: none!important;
	-webkit-transform: none!important;
}

.vc_ie-flexbox-fixer {
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
}

.vc_ie-flexbox-fixer > .vc_row {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	box-sizing: border-box;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
}