//Contact Forms

// Submit Hover

$input-border-color       : #aca8a3;
$input-font-size          : 16px;
$input-font-weight        : 400;
$input-txt-color          : $brown;
$input-font-family        : $museo-sans;
$input-line-height        : 24px;
$input-padding            : 10px;

$submit-btn-hover-color   : $white !important;
$submit-btn-hover-bg-color: $blush !important;
$submit-hover-border-color: $blush;
$submit-btn-color         : $brown;
$submit-btn-bg-color      : $white;
$submit-btn-border-radius : 2px;
$submit-btn-border-color  : $brown;
$submit-border            : 1px solid $brown;
$submit-btn-font-size     : 12px;
$submit-btn-border-radius : 2px;
$submit-btn-font-family   : $base-font;
$submit-btn-font-weight   : 400;
$submit-btn-padding       : 7px 11px;